h1{background-color: black;
    color: red;
    font-size: 30px;}
p{background-color: aqua;
color: black;}
h2{background-color: white;
color: black;
font-size: large;}
body{text-decoration: underline;}    